{% extends "base.html" %}
{% block title %}kkuziri{% endblock %}
{% block body %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{ url_for('static', filename='img/post-bg.jpg') }})">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
                <h1>ERROR</h1>
                <hr class="small">
            </div>
        </div>
    </div>
</div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>{{ error }}</p>
        </div>
    </div>
</div>
{% endblock %}
