{% extends "basic.html" %}
{% block body %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../static/img/home-bg.jpg')">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <h1>kkuziri</h1>
                <hr class="small">
                <span class="subheading">A Dev Blog For My Studying</span>
            </div>
        </div>
    </div>
</div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for post in page.items %}
            <div class="post-preview">
                <a href="/post/{{post.id}}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                </a>
                <p class="post-meta"></p>{{post.created_at.strftime('%Y %m %d %H:%M')}}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                <a href="/posts">All Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
