{% extends "basic.html" %}
{% block body %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h1>{{ post.title }}</h1>
                {% if post.modified_at %}
                <span class="meta">{{post.modified_at.strftime('%Y %m %d %H:%M')}} modified</span>
                {% endif %}
                <span class="meta">{{post.created_at.strftime('%Y %m %d %H:%M')}}</span>
            </div>
            <hr>
        </div>
    </div>
</div>
</header>

<!-- Post Content -->
<article>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class='markdown'>{{ post.body}}</div>
        </div>
    </div>
</div>
</article>
{% endblock %}
{% block script %}
<script src="http://toopay.github.io/bootstrap-markdown/js/markdown.js"></script>
<script src="../static/js/markdown.js"></script>
{% endblock %}
