{% extends "base.html" %}
{% block title %}kkuziri{% endblock %}
{% block body %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{ url_for('static', filename='img/contact-bg.jpg') }}')">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
                <h1>Edit Post</h1>
                <hr class="small">
                <span class="subheading">Correct your knowledges.</span>
            </div>
        </div>
    </div>
</div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form method='POST' action="{{url_for('get_post', id=post.id)}}">
                <input class="form-control input-lg" name="title" type="text"
                placeholder="Title" value="{{ post.title }}"/>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name='category' id="category">
                        {% for category in categories %}
                        {% if category.name==post.category.name %}
                        <option selected="selected">{{category.get_full_name()}}</option>
                        {% else %}
                        <option>{{category.get_full_name()}}</option>
                        {% endif %}
                        {% endfor %} 
                        <option>Root</option>
                    </select>
                </div>
                <textarea name="body" data-provide="markdown" rows="30">{{ post.body }}</textarea>
                <hr/>
                <button type="submit" class="btn">Submit</button>
            </form> 
        </div>
    </div>
</div>

{% endblock %}
{% block script_below %}
<link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.2.1/css/bootstrap-markdown.min.css">
<script src="http://toopay.github.io/bootstrap-markdown/js/markdown.js"></script>
<script src="http://toopay.github.io/bootstrap-markdown/js/to-markdown.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.2.1/js/bootstrap-markdown.js"></script>
{% endblock %}
