{% extends "base.html" %}
{% block title %}{{ post.get_title() }}{% endblock %}
{% block script_above %}
<script src="{{ url_for('static', filename='js/facebook.js') }}"></script>
{% endblock %}

{% block body %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h2>{{ post.get_title() }}</h2>
                {% if post.get_modified_at() %}
                <span class="meta">{{post.get_modified_at().strftime('%Y %m %d %H:%M')}} modified</span>
                {% else %}
                <span class="meta">{{post.get_created_at().strftime('%Y %m %d %H:%M')}}</span>
                {% endif %}
            </div>
            <hr>
        </div>
    </div>
</div>
</header>

<!-- Post Content -->
<article>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ markdown(post.get_body())|safe }}
            <ul class="pager pager-btn pull-right">
                {% if Auth.is_post_writer(post.get_id()) %}
                <li>
                    <a href="{{url_for('get_post_editor', id=post.get_id())}}">
                        <span class="fa-1x"
                              aria-hidden="true">
                            <i class="fa fa-pencil"></i>
                        </span>
                    </a>
                </li>
                {% endif %}
                {% if Auth.is_post_writer(post.get_id()) or Auth.is_master() %}
                <li>
                    <a href="{{url_for('delete_post', id=post.get_id())}}">
                        <span class="fa-1x"
                              aria-hidden="true">
                            <i class="fa fa-trash"></i>
                        </span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="" onclick="share('{{ request.base_url }}')">
                        <span class="fa-1x" aria-hidden="true">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
</article>


<!-- Comment -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <hr/>
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form method='POST' action="{{url_for('new_comment', post_id=post.get_id())}}">
                    <div class="form-group">
                        <textarea class="form-control" name="body" rows="3" {%
                            if not Auth.is_login() %} disabled {% endif %}></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {% for comment in post.get_comments() %}
            <div class="media">
                <a class="pull-left" href="http://facebook.com/{{comment.get_author().get_username() }}">
                    <img class="media-object" src="http://graph.facebook.com/{{
                        comment.get_author().get_username() }}/picture">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="http://facebook.com/{{comment.get_author().get_username() }}">
                            {{ comment.get_author().get_name() }}
                        </a>
                        <small>{{comment.get_created_at().strftime('%Y %m %d %H:%M')}}</small>
                        {% if Auth.is_comment_writer(comment.get_id()) or Auth.is_master() %}
                        <a class="pull-right" href="{{url_for('delete_comment', id=comment.get_id())}}">
                            <span class="fa-1x" aria-hidden="true">
                                <i class="fa fa-trash" style="font-size:0.7em;"></i>
                            </span>
                        </a>
                        {% endif %}
                    </h4>
                    {{ comment.get_body() }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
